<footer class="footer">
  <div class="container footer-container">
    <nav class="foter-navigation">
      <ul class="footer-nav-list">
        <li class="footer-nav-bottom">
          <a class="footer-nav-link" href="#about">About us</a>
        </li>

        <li class="footer-nav-bottom">
          <a class="footer-nav-link" href="#collection">Our collection</a>
        </li>

        <li class="footer-nav-bottom">
          <a class="footer-nav-link" href="#order">Customer Order</a>
        </li>

        <li class="footer-nav-bottom">
          <a class="footer-nav-link" href="#testimonials">Testimonials</a>
        </li>
      </ul>
    </nav>

    <p class="footer-title">
      A touch of <span class="footer-span">Ukrainian</span> culture in every
      embroidery
    </p>
  </div>
</footer>
