<header class="header">
  <div class="container">
    <img src="../img/header/logo.svg" alt="logo" />
    <nav class="header__nav">
      <ul class="header__menu_items">
        <li class="header__menu_item"><a href="aboutus.html">About us</a></li>
        <li class="header__menu_item">
          <a href="ourcollection.html">Our collection</a>
        </li>
        <li class="header__menu_item">
          <a href="yourorder.html">CUSTOMER ORDER</a>
        </li>
        <li class="header__menu_item">
          <a href="aboutus.html">TESTIMONIALS</a>
        </li>
      </ul>
    </nav>
    <address></address>
  </div>
</header>
