<header class="header">
  <div class="container">
    <img src="../img/header/logo.svg" alt="logo" />
    <nav class="header__nav">
      <ul class="header__menu_items">
        <li class="header__menu_item">
          <a href="aboutus.html" class="header__link">About us</a>
        </li>
        <li class="header__menu_item">
          <a href="ourcollection.html" class="header__link">Our collection</a>
        </li>
        <li class="header__menu_item">
          <a href="yourorder.html" class="header__link">CUSTOMER ORDER</a>
        </li>
        <li class="header__menu_item">
          <a href="aboutus.html" class="header__link">TEstimonials</a>
        </li>
      </ul>
    </nav>

    <div class="header__tel">
      <a class="header__contacts_link" href="tel:+380684439426"
        >+380 (68) 443-94-26</a
      >
    </div>

    <ul class="header__social_links">
      <li class="header__social_link">
        <a href="" class="header__link">
          <svg class="footer__item_icon" width="24" height="24">
            <use href="../img/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="header__social_link">
        <a href="" class="header__link">
          <svg class="footer__item_icon" width="24" height="24">
            <use href="../img/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="header__social_link">
        <a href="" class="header__link">
          <svg class="footer__item_icon" width="24" height="24">
            <use href="../img/icons.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</header>
