<header class="header">
  <div class="container">
    <img src="images/header/logo.svg" alt="logo" width="44px" height="39px" />
    <nav class="header__nav">
      <ul class="header__menu_items">
        <li class="header__menu_item">
          <a href="#aboutus" class="header__menu_link">About us</a>
        </li>
        <li class="header__menu_item">
          <a href="#ourcollection" class="header__menu_link">Our collection</a>
        </li>
        <li class="header__menu_item">
          <a href="#yourorder" class="header__menu_link">CUSTOMER ORDER</a>
        </li>
        <li class="header__menu_item">
          <a href="#testimonials" class="header__menu_link">TEstimonials</a>
        </li>
      </ul>
    </nav>

    <a class="header__contacts_link" href="tel:+380684439426"
      >+380 (68) 443-94-26</a
    >

    <ul class="header__social_links">
      <li class="header__social_link">
        <a href="https://www.facebook.com/goITclub/" class="header__link">
          <svg class="header__item_icon" width="28" height="28">
            <use href="images/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="header__social_link">
        <a href="https://www.instagram.com/goitclub/" class="header__link">
          <svg class="header__item_icon" width="28" height="28">
            <use href="images/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="header__social_link">
        <a href="https://www.youtube.com/c/GoIT" class="header__link">
          <svg class="header__item_icon" width="28" height="28">
            <use href="images/icons.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
    </ul>

    <button type="button" class="burger__button">
      <svg class="burger__button_icon" width="36" height="24">
        <use href="images/icons.svg#icon-nav"></use>
      </svg>
    </button>
  </div>
</header>

<div class="mobile__menu is-close">
  <div class="container">
    <div class="menu__header">
      <a class="mobile__contacts_link" href="tel:+380684439426"
        >+380 (68) 443-94-26</a
      >
      <button type="button" class="mobile__button__close">
        <svg class="mobile_icon_close" width="36" height="36">
          <use href="images/icons.svg#icon-close"></use>
        </svg>
      </button>
    </div>
    <nav class="mobile__menu_nav">
      <ul class="mobile__menu_items">
        <li class="mobile__menu_item">
          <a href="aboutus.html" class="mobile__link">About us</a>
        </li>
        <li class="mobile__menu_item">
          <a href="ourcollection.html" class="mobile__link">Our collection</a>
        </li>
        <li class="mobile__menu_item">
          <a href="yourorder.html" class="mobile__link">CUSTOMER ORDER</a>
        </li>
        <li class="mobile__menu_item">
          <a href="aboutus.html" class="mobile__link">TEstimonials</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
