<section class="hero">
    <div class="container">
        <h1 class="hero-title"> Reviving the traditional Ukrainian artistry in every stitch. </h1>
        <button type="button" class="hero-btn" data-modal-open>Order<svg class="icon-button" width="26" height="10">
            <use href="../img/icons.svg#icon-arrow"></use>

         
        
        </svg>
        </button>
        <img class="picture" src="../img/hero/mob-hero.jpg" width="335" height="545" alt="monitor"/>



    </div>


</section>