<section class="hero">
  <div class="container conrainer-hero">
    <div class="hero-icon">
      <svg class="icon-title" width="52" height="51">
        <use href="images/icons.svg#icon-sun"></use>
      </svg>
      <p class="icon-text">all embroidery is made by hand</p>
    </div>

    <div class="hero-front">
      <div class="hero-center">
        <h1 class="hero-title">
          Reviving the traditional
          <span class="hero-logo-italic">Ukrainian</span> artistry in every
          stitch.
        </h1>

        <button type="button" class="hero-btn" data-modal-open>
          Order<svg class="icon-button" width="26" height="26">
            <use href="images/icons.svg#icon-arrow"></use>
          </svg>
        </button>
      </div>

      <picture>
        <source
          media="(min-width: 1280px)"
          srcset="images/hero/desk-hero.jpg 1x, images/hero/desk-hero-2x.jpg 2x"
        />
        <source
          media="(min-width: 768px)"
          srcset="images/hero/tab-hero.jpg 1x, images/hero/tab-hero-2x.jpg 2x"
        />
        <source
          media="(max-width: 767px)"
          srcset="images/hero/mob-hero.jpg 1x, images/hero/mob-hero-2x.jpg 2x"
        />
        <img class="picture" src="images/hero/mob-hero.jpg" alt="monitor" />
      </picture>
    </div>
    <picture>
      <source
        media="(min-width: 1280px)"
        srcset="
          ./images/hero/tab-hero1.jpg       1x,
          ./images/hero/desk-header1-2x.jpg 2x
        "
      />
      <source
        media="(min-width: 768px)"
        srcset="
          ./images/hero/tab-header1.jpg    1x,
          ./images/hero/tab-header1-2x.jpg 2x
        "
      />
      <img
        class="picture-top"
        src="../images/hero/tab-header1-2x.jpg"
        alt="monitor"
      />
    </picture>
  </div>
</section>
