<section class="hero">
  <div class="container conrainer-container">
    <div class="hero-icon">
      <svg class="icon-title" width="52" height="51">
        <use href="images/icons.svg#icon-sun"></use>
      </svg>
      <p class="icon-text">all embroidery is made by hand</p>
    </div>

    <div class="hero-center">
      <h1 class="hero-title">
        Reviving the traditional
        <span class="hero-logo-italic">Ukrainian</span> artistry in every
        stitch.
      </h1>

      <button type="button" class="hero-btn" data-modal-open>
        Order<svg class="icon-button" width="26" height="26">
          <use href="images/icons.svg#icon-arrow"></use>
        </svg>
      </button>
    </div>
    <div class="hero-front">
      <img
        class="picture"
        src="images/hero/mob-hero.jpg"
        width="392"
        height="545"
        alt="monitor"
      />
    </div>

    <div class="hero-picture">
      <img
        class="picture-top"
        src="images/hero/tab-hero1.jpg"
        width="157"
        height="191"
        alt="monitor"
      />
    </div>
  </div>
</section>

<section class="hero is-close" id="hero">
  <div class="container">
    <h1 class="hero-title">
      Reviving the traditional Ukrainian artistry in every stitch.
    </h1>
    <button type="button" class="hero-btn" data-modal-open>
      Order<svg class="icon-button" width="26" height="10">
        <use href="images/icons.svg#icon-arrow"></use>
      </svg>
    </button>
    <img
      class="picture"
      src="images/hero/mob-hero.jpg"
      width="335"
      height="545"
      alt="monitor"
    />
  </div>
</section>
