<section class="offering">
  <div class="container offering-container">
    <div class="offering-left">
      <img
        src="./img/offering/apple.png"
        alt="apple"
        width="502"
        height="502"
      />
    </div>
    <div class="offering-rith">
      <h2 class="offering-title">What’s Special About Our Offerings</h2>
      <p class="offering-subtitle">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        varius enim in eros elementum tristique. Duis cursus, mi quis viverra
        ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
      </p>
      <ul class="offering-list">
        <li class="offering-item">
          <div class="offering-wrap-icon">
            <svg class="offering-icon" width="32" height="32">
              <use href="./img/offering/icons.svg#rocket"></use>
            </svg>
          </div>
          <h3 class="offering-delivery-title">Fasest Delivery</h3>
          <p class="offering-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
            varius enim in eros.
          </p>
        </li>
        <li>
          <div class="offering-wrap-icon">
            <svg class="offering-icon" width="32" height="32">
              <use href="./img/offering/icons.svg#hand"></use>
            </svg>
          </div>
          <h3 class="offering-delivery-title">Easy To Order</h3>
          <p class="offering-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
            varius enim in eros.
          </p>
        </li>
      </ul>
      <button class="offering-btn" type="button">Order Now</button>
    </div>
  </div>
</section>
