<section class="collection container">
  <div class="div-container">
    <h2 class="collection-title">Our Collection</h2>
    <ul class="collection-list list">
      <li class="collection-item">
        <img
          src="./img/ourcollection/augustpoltava.jpg"
          alt="AUGUST Poltava"
          width="335"
          height="400"
          class="collection-img"
        />
        <h3 class="collection-subtitle">AUGUST Poltava women's blouseRING</h3>
        <span class="collection-item-price">3300 UAH</span>
      </li>
      <li class="collection-item">
        <img
          src="./img/ourcollection/gorgany.jpg"
          alt="Women's blouse Gorgany"
          width="335"
          height="400"
          class="collection-img"
        />
        <h3 class="collection-subtitle">Women's blouse Gorgany</h3>
        <span class="collection-item-price">3350 UAH</span>
      </li>
      <li class="collection-item">
        <img
          src="./img/ourcollection/crimea.jpg"
          alt="Women's blouse Crimea"
          width="335"
          height="400"
          class="collection-img"
        />
        <h3 class="collection-subtitle">Women's blouse Crimea</h3>
        <span class="collection-item-price">4000 UAH</span>
      </li>
      <li class="collection-item">
        <img
          src="./img/ourcollection/verkhovina.jpg"
          alt="Men's shirt Verkhovina"
          width="335"
          height="400"
          class="collection-img"
        />
        <h3 class="collection-subtitle">Men's shirt Verkhovina</h3>
        <span class="collection-item-price">3100 UAH</span>
      </li>
      <li class="collection-item">
        <img
          src="./img/ourcollection/mountain.jpg"
          alt="Mountain men's shirt"
          width="335"
          height="400"
          class="collection-img"
        />
        <h3 class="collection-subtitle">Mountain men's shirt</h3>
        <span class="collection-item-price">3300 UAH</span>
      </li>
      <li class="collection-item">
        <img
          src="./img/ourcollection/yasen.jpg"
          alt="Men's shirt Yasen"
          width="335"
          height="400"
          class="collection-img"
        />
        <h3 class="collection-subtitle">Men's shirt Yasen</h3>
        <span class="collection-item-price">1700 UAH</span>
      </li>
    </ul>
  </div>
</section>
