<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Testimonials</title>
    <link rel="stylesheet" href="../css/testimonials.css" />
  </head>
  <body>
    <section class="testimonials container">
      <h2 class="testi-title">Testimonials</h2>
      <!--first-->
      <div class="testi-container first">
        <div class="testi-photo-wrap">
          <img
            class="testi-photo"
            srcset="
              ../img/testimonials/desk-testimonials1.jpg,
              ../img/testimonials/desk-testimonials1-2x.jpg
            "
            src="../img/testimonials/desk-testimonials1.jpg"
            alt="Maria"
            width="64"
            height="64"
          />
        </div>

        <h3 class="testi-photo-name">Maria Tkachuk</h3>
        <p class="testi-text">
          I was pleasantly surprised by the variety of embroidery offered by
          Vyshyvanka Vibes. They have models for every taste - from classic to
          modern. I bought an embroidered dress to celebrate a special occasion
          and received impeccable service and refinement in every detail.
        </p>
      </div>
      <!--second-->
      <div class="testi-container second">
        <div class="testi-photo-wrap">
          <img
            class="testi-photo"
            srcset="
              ../img/testimonials/desk-testimonials3.jpg,
              ../img/testimonials/desk-testimonials3-2x.jpg
            "
            src="../img/testimonials/desk-testimonials3.jpg"
            alt="Natalia"
            width="64"
            height="64"
          />
        </div>

        <h3 class="testi-photo-name">Natalia Chatuk</h3>
        <p class="testi-text">
          Vyshyvanka Vibes is a real find for everyone who appreciates Ukrainian
          culture. Their embroidery reflects the spirit and traditions of our
          people. I not only buy embroidered shirts for myself, but also give
          them to my friends abroad as a symbol of our beauty and national
          pride.
        </p>
      </div>
      <!--third-->
      <div class="testi-container third">
        <div class="testi-photo-wrap">
          <img
            class="testi-photo"
            srcset="
              ../img/testimonials/desk-testimonials1.jpg,
              ../img/testimonials/desk-testimonials1-2x.jpg
            "
            src="../img/testimonials/desk-testimonials1.jpg"
            alt="testi-photo1"
            width="64"
            height="64"
          />
        </div>

        <h3 class="testi-photo-name">Maria Tkachuk</h3>
        <p class="testi-text">
          I was pleasantly surprised by the variety of embroidery offered by
          Vyshyvanka Vibes. They have models for every taste - from classic to
          modern. I bought an embroidered dress to celebrate a special occasion
          and received impeccable service and refinement in every detail.
        </p>
      </div>
    </section>
  </body>
</html>
