<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Testimonials</title>
    <link rel="stylesheet" href="../css/testimonials.css" />
  </head>
  <body>
    <section class="section testimonials container">
      <h2 class="testi-title">Testimonials</h2>

      <div class="testimonials-card-wrap">
        <!--first-->
        <div class="testi-container first-card">
          <div class="testi-photo-wrap">
            <img
              class="testi-photo"
              srcset="
                ../img/testimonials/testi-photo1-min.png,
                ../img/testimonials/testi-photo1-2x-min.png
              "
              src="../img/testimonials/testi-photo1-min.png"
              alt="Maria"
              width="64"
              height="64"
            />
          </div>

          <h3 class="testi-photo-name">Maria Tkachuk</h3>
          <p class="testi-text">
            I was pleasantly surprised by the variety of embroidery offered by
            Vyshyvanka Vibes. They have models for every taste - from classic to
            modern. I bought an embroidered dress to celebrate a special
            occasion and received impeccable service and refinement in every
            detail.
          </p>
        </div>

        <!--second-->
        <div class="testi-container second-card">
          <div class="testi-photo-wrap">
            <img
              class="testi-photo"
              srcset="
                ../img/testimonials/testi-photo2-min.png,
                ../img/testimonials/testi-photo2-2x-min.png
              "
              src="../img/testimonials/testi-photo2-min.png"
              alt="Sergey"
              width="64"
              height="64"
            />
          </div>

          <h3 class="testi-photo-name">Sergey Rybachok</h3>
          <p class="testi-text">
            Vyshyvanka Vibes exceeds all my expectations! Their vyshyvanka are
            simply masterpieces! I fell in love with the quality of the
            materials and the skill of the artisans behind each product. This is
            my favorite embroidery shop where I always find something special
            and unique.
          </p>
        </div>

        <!--third-->
        <div class="testi-container third-card">
          <div class="testi-photo-wrap">
            <img
              class="testi-photo"
              srcset="
                ../img/testimonials/testi-photo3-min.png,
                ../img/testimonials/testi-photo2-3x-min.png
              "
              src="../img/testimonials/testi-photo3-min.png"
              alt="Natalia"
              width="64"
              height="64"
            />
          </div>

          <h3 class="testi-photo-name">Natalia Chatuk</h3>
          <p class="testi-text">
            Vyshyvanka Vibes is a real find for everyone who appreciates
            Ukrainian culture. Their embroidery reflects the spirit and
            traditions of our people. I not only buy embroidered shirts for
            myself, but also give them to my friends abroad as a symbol of our
            beauty and national pride.
          </p>
        </div>
      </div>
    </section>
  </body>
</html>
