.header {
  margin: 0 auto;
}

.header .container {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.header__nav {
  display: none;
}

.header__contacts_link {
  display: none;
}

.header__contacts_link:focus {
  border: 1px solid var(--yellow-color);
}

.header__social_links {
  margin-left: auto;
  display: flex;
  gap: 12px;
}

.header__item_icon {
  fill: var(--white-color);
}

.header__social_link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.is-close {
  display: none;
}

.header__link {
  border-radius: 15px;
  border: 1px solid rgba(252, 249, 249, 0.1);

  background: rgba(252, 249, 249, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  width: 40px;
  height: 40px;
}

.header__link:focus {
  border: 1px solid var(--yellow-color);
}

.mobile__items {
  max-width: 380px;
}

.menu__header {
  display: flex;
  padding-top: 20px;
}

.mobile__contacts_link {
  border-radius: 15px;
  border: 1px solid rgba(28, 34, 37, 0.1);
  padding: 12px 20px;
}

.mobile__menu {
  width: 100%;
  height: 100%;
  background-color: var(--yellow-color);
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;

  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 116.667%;
  color: var(--black-color);
  background-image: url('../img/header/ornamentgrey2.png');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 340px 300px;
}

.mobile__menu .container {
  max-width: 380px;
}

.burger__button {
  background-color: transparent;
  border: none;
  margin-left: auto;
  cursor: pointer;
  padding: 0;
  margin-left: 12px;
}

.mobile__button__close {
  background-color: transparent;
  border: none;
  margin-left: auto;
  cursor: pointer;
}

.mobile_icon_close {
  stroke: var(--black-color);
}

.mobile__link {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 128.571%;
  text-transform: uppercase;
}

.mobile__menu_nav {
  display: flex;
  justify-content: flex-end;
}

.mobile__menu_items {
  display: flex;
  flex-direction: column;

  gap: 20px;
  margin-top: 223px;
}

@media (min-width: 768px) {
  .mobile__menu {
    background-image: url('../img/header/ornamentgrey.png');
    background-size: 380px 300px;
  }

  .header__social_links {
    margin-left: auto;
  }

  .burger__button {
    margin-left: 20px;
  }

  .header .container {
    display: flex;
    justify-content: center;
    padding-top: 26.5px;
  }
}

@media (min-width: 1280px) {
  .burger__button {
    display: none;
  }

  .header__social_links {
    margin-left: 20px;
  }

  .header__nav {
    display: flex;
    margin-left: 60px;
  }

  .header__menu_items {
    display: flex;
    gap: 25px;
    align-items: center;
  }

  .header__contacts_link {
    display: block;
    border-radius: 15px;
    border: 1px solid rgba(252, 249, 249, 0.1);
    display: flex;
    padding: 14px 28px;
    margin-left: auto;
  }

  .header__menu_link {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 128.571%;
    text-transform: uppercase;
  }

  .header__menu_link:hover,
  .header__menu_link:focus {
    color: var(--yellow-color);
  }

  .header__contacts_link:hover {
    border: 1px solid var(--yellow-color);
  }

  .header__link:hover {
    border: 1px solid var(--yellow-color);
  }
}
