@import url('./footer.css');
@import url('./testimonials.css');
@import url('./header.css');
@import url('./yourorder.css');
@import url('./aboutus.css');
@import url('./hero.css');
@import url('./ourcollection.css');

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
:root {
  font-family: 'Manrope', sans-serif;
  line-height: normal;
  color: #fcf9f9;
  background-color: #1c2225;
  --white-color: #fcf9f9;
  --black-color: #1c2225;
  --yellow-color: #ecd979;
  --gray-color: rgba(252, 249, 249, 0.1);
  --light-gray-color: rgba(252, 249, 249, 0.4);
  --form-placeholder-color: rgba(252, 249, 249, 0.5);
}

.container {
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (min-width: 375px) {
  .container {
    margin-left: auto;
    margin-right: auto;
    max-width: 375px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding-left: 100px;
    padding-right: 100px;
  }
}
@media screen and (max-width: 767px) {
  .section {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@media screen and (min-width: 768px) {
  .section {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

@media screen and (min-width: 1280px) {
  .section {
    padding-top: 75px;
    padding-bottom: 75px;
  }
}
